/* main color */
:root {
    --md-primary-fg-color: #005A96;
    --md-default-fg-color--light: #414141;
}

/* publications */
.author {
    color: grey;
}

/* page width */
.md-grid {
    max-width: 1800px;
}

.md-header__inner.md-grid, .md-tabs{
    margin-left: auto;
    margin-right: 0rem;
    max-width: 67rem;
}

.md-banner__inner.md-grid.md-typeset{
margin-left: auto;
margin-right: 0rem;
max-width: 67rem;
}
